body{
    margin: 0;
    padding: 0;
    background: #80808030;
}
.liste{
    list-style: none;
}
.lien{
    color: white;
    text-decoration: none;
}
.lien2{
    margin-top: 70vh;
}
.container-parent{
    display: flex;
    flex-direction: column;
    padding: 15px;
    font: optional; 
    left: auto;
    justify-content: space-between;
 }
.container-parent1{
    display: flex;
    flex-direction: column;
   background: rgba(22, 22, 22, 0.747);
   position: fixed;
   width: 15%;
   height: 100%;
}
 .navbar{
    list-style: none;
    padding: 10px;
}
.container-navbar{
    display: flex;
    justify-content: end;
    margin: 20px;
    margin-left: 19%;
    border: 2px solid rgb(88, 87, 87);
}
.container-navbar-list{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}
.link-navbar{
    color: gray;
} 
.container-carte{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 0px 19%;
}
.carte{
    background: rgb(94, 93, 93);
    padding: 1% 15%;
}
.paragraphe{
    color: white;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
}
.para{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-left: 18%;
}
body, html{
    overflow-x: hidden;
}
@media screen and (max-width: 600px){
    .container-parent1{
       width: auto;
       height: auto;
       position: static;
    }
    .lien2{
        margin-top: 20vh;
    }
    .container-navbar{
        border: none;
        
    }
    .container-carte{
        position: relative;
        right: 30px;
    }
    .para{
        position: relative;
        right: 30px;
    }
}